#a{
    width: 50px;
    height: 50px;
    background-color: rgb(88, 186, 88);
    margin-left: 500px;
}
#b{width: 50px;
    height: 50px;
    background-color:rgb(60, 8, 8);
margin-left: 552px;
margin-top: -50px;
}

 #c{width: 50px;
    height: 50px;
    background-color:rgb(13, 41, 102);
    margin-left: 604px;
    margin-top: -50px;
}

 #d{width: 50px;
    height: 50px;
    background-color: skyblue;
    margin-left: 658px;
    margin-top: -50px;
   }

 

 #e{width: 50px;
   height: 50px;
   background-color: blueviolet;
   margin-left: 710px;
   margin-top: -50px;
 }

 #f{width: 50px;
height: 50px;
background-color: black;
margin-left: 448px;
margin-top: 5px;

}

                    #g{width: 50px;
                        height: 50px;
                        background-color: rgb(97, 107, 78);
                        margin-left: 500px;
                        margin-top: -50px;
                        
                       
                    }

                        #h{width: 50px;
                            height: 50px;
                            background-color: rgb(218, 14, 14);
                            margin-left: 552px;
                            margin-top: -50px;
                          
                            
                        }

                            #i{width: 50px;
                                height: 50px;
                                background-color:rosybrown;
                                margin-left: 604px;
                                margin-top: -50px;
                                
                            }

                                #j{width: 50px;
                                    height: 50px;
                                    background-color:red;
                                    margin-left: 658px;
                                    margin-top: -50px;
                                    
                                }

                                    #k{width: 50px;
                                        height: 50px;
                                        background-color:rgb(27, 14, 173);
                                        margin-left: 710px;
                                        margin-top: -50px;
                                       

                                    }

                                        #l{width: 50px;
                                            height: 50px;
                                            background-color:darkmagenta;
                                            margin-left: 762px;
                                            margin-top: -50px;
                                            }

                                            #m{width: 50px;
                                                height: 50px;
                                                background-color: cornflowerblue;
                                                margin-left: 396px;
                                            margin-top: 5px;}
                                            

                                                #n{width: 50px;
                                                    height: 50px;
                                                    background-color:rgb(28, 15, 17);
                                                    margin-left: 448px;
                                                    margin-top: -50px;}

                                                    #o{width: 50px;
                                                        height: 50px;
                                                        background-color:rgb(181, 26, 26);
                                                        margin-left: 500px;
                                                        margin-top: -50px;}

                                                        #p{width: 50px;
                                                            height: 50px;
                                                            background-color:green;
                                                            margin-left: 552px;
                                                            margin-top: -50px;}

                                                            #q{width: 50px;
                                                                height: 50px;
                                                                background-color: rgb(122, 148, 69);
                                                                margin-left: 604px;
                                                                margin-top: -50Px;}

                                                                #r{width: 50px;
                                                                    height: 50px;
                                                                    background-color:rosybrown;
                                                                    margin-left: 658px;
                                                                    margin-top: -50px;}

                                                                    #s{width: 50px;
                                                                        height: 50px;
                                                                        background-color:rgb(88, 88, 171);
                                                                        margin-left: 710px;
                                                                        margin-top: -50px;}

                                                                        #t{width: 50px;
                                                                            height: 50px;
                                                                            background-color:rebeccapurple;
                                                                            margin-left: 762px;
                                                                            margin-top: -50px;}

                                                                            #u{width: 50px;
                                                                                height: 50px;
                                                                                background-color:rgb(30, 125, 28);
                                                                                margin-left: 814px;
                                                                                margin-top: -50px;}
       
   
                                                                     
